<div id="intro" class="text-s40 container portfolio-block-spacing">
  <div data-aos="zoom-in" data-aos-duration="3000" class="intro-wrapper">
    <div class="intro-col-1">
      <div class="title pt-2 pb-2">
          Hello, I'm <span class="text-b10">{{ intro.name }}</span>.
      </div>
      <div class="description pt-2 pb-2">
          I'm a {{ intro.position }}.
      </div>
      <!-- <div class="pt-3 pb-3">
        <a href="/resume" class="body-m bg-b10 btn-download mt-2 mb-2">
          View Resume
        </a>
        <a href="https://drive.google.com/file/d/1f9BEBQKz4_HfHT7AICSluWlYTOOG4_dZ/view?usp=sharing" class="body-m bg-b10 btn-download mt-2 mb-2">
          Download Resume
        </a>
      </div> -->
    </div>
    <div class="intro-col-2">
      <div class="profile-img">
        <img src="assets/images/myAvatar.png">
      </div>
    </div>
  </div>
</div>
