<div id="intro" class="text-s40 container info-wrapper text-center p-4">
  <div class="pt-2 pb-2">
    <div class="profile-img">
      <img src="assets/images/myAvatar.png">
    </div>
  </div>
  <div>
    <div class="h1-strong pt-2 pb-2">
        {{ intro.name }}
    </div>
    <div class="text-b10 h4-strong pt-2 pb-2">
        {{ intro.position }}
    </div>
    <div class="pt-3 pb-3">
      <a href="/resume" class="body-m bg-b10 btn-download mt-2 mb-2">
        View Resume
      </a>
      <a href="https://drive.google.com/file/d/1f9BEBQKz4_HfHT7AICSluWlYTOOG4_dZ/view?usp=sharing" class="body-m bg-b10 btn-download mt-2 mb-2">
        Download Resume
      </a>
    </div>
  </div>
</div>
