<div id="experience" class="profile-card mt-3 mb-3">
    <div>
        Experience
    </div>
    <div *ngFor="let data of experience">
        <div>
            {{ data.company }}
        </div>
        <div>
            {{ data.job_position }}
        </div>
        <div>
            {{ data.description }}
        </div>
        <div>
            <div>
                Core Functionality
            </div>
            <div *ngFor="let functionality of data.functionalities">
                {{ functionality }}
            </div>
        </div>
        <div>
            <div>
                Technologies and Languages
            </div>
            <div *ngFor="let technology of data.technologies">
                {{ technology }}
            </div>
        </div>
    </div>
</div>
