<div id="resume" class="resume-container">
    <div class="bg-s100 text-s700" style="padding: 20px;">
      <div class="h2-strong p-b-15">Htet Shwe Yi Lin</div>
      <div class="h3-strong">Front End Developer</div>
    </div>
    <div class="content-wrapper light-body-m text-c300">
      <div class="column-left">
        <div class="p-b-15">
          Meticulous web developer with over 5 years of front end experience and passion for responsive website design and create and maintain a better code base for reusability.Capable of continuous learning from senior developers while still nurturing junior developers.Passionate about learning and development with a desire to apply skills on a larger development team. Eager to tackle more complex problems and continue to find ways to maximize user efficiency.To enhance my knowledge and capabilities by working in a dynamic organization that prides itself in giving substantial to new talent.
        </div>
        <div class="p-b-15">
          <div class="body-l header">
            Work Experience
          </div>
          <div>
            <div class="header">
              <div class="body-m p-b-8">
                Front End Developer
              </div>
              <div class="p-b-8">
                Mar 2017 - Present
              </div>
              <div class="p-b-8">Amdon Consulting Pte Ltd</div>
            </div>
            <div>
              <div class="body-m p-b-8">
                Key Qualifications & Responsibilities
              </div>
              <ul class="list">
                <li>
                  Implemented websites and landing pages from concept through deployment.
                </li>
                <li>
                  Standardized all output with a new, responsive, mobile-first approach and strategy.
                </li>
                <li>
                  Assessed UX and UI designs for technical feasibility.
                </li>
                <li>
                  Developed standard and ad hoc reports in graph format as required.
                </li>
                <li>
                  Collaborated with product team members to implement new feature developments.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="p-b-15">
          <div class="body-l header">Education</div>
          <div>
            <div class="body-m">
              Bachelor of Computer Science(B.C.Sc)
            </div>
            <div>
              University of Computer Studies, Yangon(UCSY)(2011-2015)
            </div>
          </div>
        </div>
        <div class="p-b-15">
          <div class="body-l header">
            Certificates
          </div>
          <div>
            <div class="body-m">
              Professional Certificate in Web Technologies Course
            </div>
            <div>
              India-Myanmar Centre for Enhancement of IT Skills (IMCEITS) (November 2016 – January 2017)
            </div>
          </div>
        </div>
      </div>
      <div class="column-right bg-s10">
        <div class="p-b-15">
          <div class="body-l header">
            Personal Info
          </div>
          <div class="personal-info">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>htetshweyilin@gmail.com</span>
          </div>
          <div class="personal-info">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>Yangon,Myanmar</span>
          </div>
          <div class="personal-info">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>+959420057072</span>
          </div>
          <div class="personal-info">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            <span>
              <a href="https://www.linkedin.com/in/htet-shwe-yi-lin-228715189/" target="_blank">linkedin.com/in/htet-shwe-yi-lin</a>
            </span>
          </div>
          <div class="personal-info">
            <i class="fa fa-github" aria-hidden="true"></i>
            <span>
              <a href="https://github.com/HteyShweYiLin" target="_blank">github.com/HteyShweYiLin</a>
            </span>
          </div>
        </div>
        <div class="p-b-15">
          <div class="body-l header">
            Skills
          </div>
          <div class="skills-wrapper">
            <div>
              HTML
            </div>
            <div>
              CSS
            </div>
            <div>
              Javascript
            </div>
            <div>
              jQuery
            </div>
            <div>
              Angular
            </div>
            <div>
              Typescript
            </div>
            <div>
              Angular 2+
            </div>
            <div>
              React
            </div>
            <div>
              GIT
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
