<div id="about" class="container portfolio-block-spacing">
    <div class="h3-strong pb-3">
        About Me
    </div>
    <div class="row light-body-m">
        <div class="col-lg-6 col-md-12">
            <p *ngFor="let detail of about.details">
                {{ detail }}
            </p>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="row pb-2" *ngFor="let info of about.personalInfo">
                <div class="col-md-4 body-m">
                    {{ info.label }}:
                </div>
                <div class="col-md-8">
                    {{ info.value }}
                </div>
            </div>
        </div>
    </div>
</div>
