<div id="about" class="text-c300 container portfolio-block-spacing">
    <div data-aos="fade-up" data-aos-duration="3000" class="h2-strong pb-3">
        About Me
    </div>
    <div data-aos="fade-up" data-aos-duration="3000" class="row body-xl-light">
        <div class="col-lg-6 col-md-12">
            <p *ngFor="let detail of about.details">
                {{ detail }}
            </p>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="d-flex pb-2" *ngFor="let info of about.personalInfo">
                <div class="icon-wrapper body-m">
                  <i [class]="info.label" aria-hidden="true"></i>
                </div>
                <div>
                    {{ info.value }}
                </div>
            </div>
        </div>
    </div>
</div>
