.animated-progress {
    width: 350px;
    height: 8px;
    border-radius: 4px;
    margin: 20px 0px;
    overflow: hidden;
    position: relative;
  }

  .animated-progress span {
    height: 100%;
    display: block;
    width: 0;
    line-height: 30px;
    position: absolute;
    text-align: end;
    padding-right: 5px;
  }
