:root {
    --color-g10: #e2f2d8;
    --color-g20: #98b880;
    --color-g30: #9ab782;
    --color-g40: #749559;
    --color-r25: #ffe7e6;
    --color-r50: #ffcfcc;
    --color-r75: #ff9e99;
    --color-r100: #e63c39;
    --color-r200: #bf2926;
    --color-r300: #8c1e1c;
    --color-c25: #c3d4e6;
    --color-c50: #a3b8cc;
    --color-c75: #7a8a99;
    --color-c100: #5c6773;
    --color-c200: #475466;
    --color-c300: #363f4d;
    --color-s0: #ffffff;
    --color-s10: #f7f9fa;
    --color-s20: #f2f3f5;
    --color-s30: #f0f0f0;
    --color-s40: #edeef0;
    --color-s50: #e8e9eb;
    --color-s60: #e3e4e6;
    --color-s70: #d4d5d6;
    --color-s80: #b1b1b3;
    --color-lg100: #CCF5FF;
    --color-lg200: #bfdddf;
    --color-lg300: #70bdc2;
    --color-lg400: #79E1FA;
    --color-lg500: #3394AB;
}

* {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-feature-settings: "tnum" on, "lnum" on, "ss01" on;
}
.text-g10 {
  color: var(--color-g10);
}
.bg-g10 {
  background-color: var(--color-g10);
}
.text-g20 {
  color: var(--color-g20);
}
.bg-g20 {
  background-color: var(--color-g20);
}
.text-g30 {
  color: var(--color-g30);
}
.bg-g30 {
  background-color: var(--color-g30);
}
.text-g40 {
  color: var(--color-g40);
}
.bg-g40 {
  background-color: var(--color-g40);
}
.text-r25 {
  color: var(--color-r25);
}
.bg-r25 {
  background-color: var(--color-r25);
}
.text-r50 {
  color: var(--color-r50);
}
.bg-r50 {
  background-color: var(--color-r50);
}
.text-r75 {
  color: var(--color-r75);
}
.bg-r75 {
  background-color: var(--color-r75);
}
.text-r100 {
  color: var(--color-r100);
}
.bg-r100 {
  background-color: var(--color-r100);
}
.text-r200 {
  color: var(--color-r200);
}
.bg-r200 {
  background-color: var(--color-r200);
}
.text-r300 {
  color: var(--color-r300);
}
.bg-r300 {
  background-color: var(--color-r300);
}
.text-c25 {
  color: var(--color-c25);
}
.bg-c25 {
background-color: var(--color-c25);
}
.text-c50 {
color: #a3b8cc;
}
.bg-c50 {
background-color: #a3b8cc;
}
.text-c75 {
color: #7a8a99;
}
.bg-c75 {
background-color: #7a8a99;
}
.text-c100 {
color: #5c6773;
}
.bg-c100 {
background-color: #5c6773;
}
.text-c200 {
color: #475466;
}
.bg-c200 {
background-color: #475466;
}
.text-c300 {
color: #363f4d;
}
.bg-c300 {
background-color: #363f4d;
}
.text-s0 {
  color: var(--color-s0);
}
.bg-s0 {
  background-color: var(--color-s0);
}
.text-s10 {
  color: var(--color-s10);
}
.bg-s10 {
  background-color: var(--color-s10);
}
.text-s20 {
  color: var(--color-s20);
}
.bg-s20 {
  background-color: var(--color-s20);
}
.text-s30 {
  color: var(--color-s30);
}
.bg-s30 {
  background-color: var(--color-s30);
}
.text-s40 {
  color: var(--color-s40);
}
.bg-s40 {
  background-color: var(--color-s40);
}
.text-s50 {
  color: var(--color-s50);
}
.bg-s50 {
  background-color: var(--color-s50);
}
.text-s60 {
  color: var(--color-s60);
}
.bg-s60 {
  background-color: var(--color-s60);
}
.text-s70 {
  color: var(--color-s70);
}
.bg-s70 {
  background-color: var(--color-s70);
}
.text-s80 {
  color: var(--color-s80);
}
.bg-s80 {
  background-color: var(--color-s80);
}
.text-lg100 {
  color: var(--color-lg100);
}
.bg-lg100 {
  background-color: var(--color-lg100);
}
.text-lg200 {
  color: var(--color-lg200);
}
.bg-lg200 {
  background-color: var(--color-lg200);
}
.text-lg300 {
  color: var(--color-lg300);
}
.bg-lg300 {
  background-color: var(--color-lg300);
}
.text-lg400 {
  color: var(--color-lg400);
}
.bg-lg400 {
  background-color: var(--color-lg400);
}
.text-lg500 {
  color: var(--color-lg500);
}
.bg-lg500 {
  background-color: var(--color-lg500);
}

.light-body-l {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
  }

  .light-body-normal{
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
  }
  /* .light-body-m {
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
  } */
  .light-body-m {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
  }
  .body-xl {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
  .body-xl-light {
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
  }
  .body-l {
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
  }
  .body-m {
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
  }
  .small {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
  }
  .extra-small {
    font-weight: 800;
    font-size: 10px;
    line-height: 20px;
  }
  .h1-strong {
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;
  }
  .h2-strong {
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
  }
  .h3-strong {
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
  }
  .h4-strong {
    font-size: 17px;
    font-weight: 800;
    line-height: 36px;
  }
  .h4-strong-lh24 {
    font-size: 17px;
    font-weight: 800;
    line-height: 24px;
  }
  .h5-strong {
    font-size: 15px;
    font-weight: 800;
    line-height: 24px;
  }
  .h2-bold {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
  }
  .h5-bold{
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
  }
  .caption {
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
  }

  .caption-bold{
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
  }

  .caption-light{
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
  }


