<div id="education" class="text-g50 container portfolio-block-spacing">
    <div>
        <div data-aos="fade-up" data-aos-duration="2000" class="h2-strong pb-3">
            Education
        </div>
        <div data-aos="fade-up" data-aos-duration="2000" *ngFor="let data of education" class="item-card">
            <div class="small pb-2">
                {{ data.duration }}
            </div>
            <div class="body-xl pb-2">
                {{ data.name }}
            </div>
            <div class="body-xl-light">
                {{ data.place }}
            </div>
        </div>
    </div>
</div>
