a {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.sticky {
  position: fixed!important;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  background-color: #ffffff;
  color: #425664;
  z-index: 2;
  box-shadow: 0px 1px 0px #e3e4e5;
  height: 62px;
}

.diamond {
  width: 35px;
  height: 35px;
  position: relative;
  display: inline-block;
}
.diamond:before {
  position: absolute;
  display: block;
  content: "";
  width: 35px;
  height: 35px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -webkit-transition: border-color 0.3s;
  -moz-transform: rotate(45deg);
  -moz-transition: border-color 0.3s;
  transform: rotate(45deg);
  border: 2px solid #425664;
}
.diamond-inner {
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAVBAR MENU */
.menu {
  display: flex;
}

.menu a:hover {
  background-color: #f6f4f2;
  transition: 0.3s ease;
}

.menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  padding: 0px 14px;
  color: #425664;
  transition: 0.3s ease;
}

/* .menu li:hover > a {
  color: #c6ad8f;
} */

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 0px;
  }
  .menu {
    display:none;
    position: absolute;
    background-color: #ffffff;
    top: 62px;
    right: 0;
    left: 0;
    text-align: center;
  }
  .menu a {
    display: flex;
  }
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
  .hamburger {
    display: block;
  }
}
