a {
  text-decoration: none;
}

ul {
  margin-bottom: 0;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.sticky {
  position: fixed!important;
  top: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  background-color: #ffffff;
  color: #425664;
  z-index: 2;
}

/* .nav-links a {
  color: #425664;
}

.nav-links a:hover {
  color: #c6ad8f;
  transition: 0.3s ease;
} */

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #425664;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li a {
  color: #425664;
  transition: 0.3s ease;
}

.menu li:hover > a {
  color: #c6ad8f;
}

.menu li {
  padding: 5px 14px;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display:none;
    position: absolute;
    background-color: #ffffff;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color:#425664;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
  .hamburger {
    display: block;
  }
}
