<nav id="top-navbar" class="navbar" [ngClass]="{'sticky': sticky}">
  <div class="container">
      <!-- LOGO -->
    <div class="text-g50 h2-strong">Htet Shwe Yi Lin</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <a *ngFor="let item of items" [href]="'#' + item.link" class="body-l">{{ item.name }}</a>
      </div>
    </ul>
  </div>
</nav>
