<div id="contact" class="pt-3 pb-3 mt-3 mb-3">
    <div class="h4-strong pb-3">
        Contact
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <form #contactForm="ngForm">
          <div [hidden]="contactForm.submitted">
            <div class="cross-validation" [class.cross-validation-error]="contactForm.errors?.['identityRevealed'] && (contactForm.touched || contactForm.dirty)">
              <div class="form-group pb-3">
                <input type="text" id="name" name="name" class="form-control" placeholder="Name"
                      [(ngModel)]="contactUser.name" #name="ngModel" required>

                <div *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="alert">
                  <div *ngIf="name.errors?.['required']">
                    Name is required.
                  </div>
                </div>
              </div>
              <div class="form-group pb-3">
                <input type="email" id="email" name="email" class="form-control" placeholder="E-mail"
                      [(ngModel)]="contactUser.email" #email="ngModel" required>

                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert">
                  <div *ngIf="email.errors?.['required']">
                    Name is required.
                  </div>
                </div>
              </div>
              <div class="form-group pb-3">
                <textarea type="message" id="message" name="message" class="form-control" placeholder="Message"
                [(ngModel)]="contactUser.message" #message="ngModel"></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-primary"
                    [disabled]="contactForm.invalid" (click)="onClickContact(contactUser)">Submit</button>
          </div>
        </form>
      </div>
      <div class="col-lg-4 col-md-12">
        <div *ngFor="let data of contact" class="pb-3">
          <div class="body-m pb-1">
            {{ data.label }}
          </div>
          <div class="light-body-m">
            {{ data.value }}
          </div>
        </div>
      </div>
    </div>
</div>
