<div id="project" class="text-c300 container portfolio-block-spacing">
  <div data-aos="fade-up" data-aos-duration="2000" class="h2-strong pb-3">
    Projects
  </div>
  <div>
    <!-- <div data-aos="fade-up" data-aos-duration="2000" class="body-xl-light text-center pb-3">
      Some Things I’ve Built
    </div> -->
    <div data-aos="fade-up" data-aos-duration="2000" class="row pt-3 pb-3">
      <div class="col-lg-4 col-md-12" *ngFor="let project of projects">
        <div class="project-wrapper">
          <div class="project-logo-wrapper">
            <div class="project-logo">
              <img [src]="project.logo">
            </div>
          </div>
          <div class="text-c300 bg-s10 body-l project-name text-center p-4">
            <div>
              {{ project.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
