<div id="resume" class="resume-container">
    <div class="bg-g50 text-s10" style="padding: 20px;">
      <div class="h2-strong p-b-15">Htet Shwe Yi Lin</div>
      <div class="h3-strong">Front-End Developer</div>
    </div>
    <div class="content-wrapper light-body-m text-c300">
      <div class="column-left">
        <div class="p-b-15">
          Meticulous web developer with over 5 years of front-end experience and passion for responsive website design and create and maintain a better code base for reusability.
          Capable of continuous learning from senior developers while still nurturing junior developers.Passionate about learning and development with a desire to apply skills on a larger development team.
        </div>
        <div class="p-b-15">
          <div class="body-l header">
            Work Experience
          </div>
          <div>
            <div class="header">
              <div class="body-m p-b-8">
                Front-End Developer
              </div>
              <div class="p-b-8">
                Mar 2017 - Present
              </div>
              <div class="p-b-8">Amdon Consulting Pte Ltd</div>
            </div>
            <div>
              <div class="body-m p-b-8">
                Key Qualifications & Responsibilities
              </div>
              <ul class="list">
                <li>
                  Delivered responsive, cross-browser compatible and accessibility compliant websites.
                </li>
                <li>
                  Designed dynamic and browser compatible pages using HTML5, CSS3, jQuery, and Javascript.
                </li>
                <li>
                  Daily maintenance of code, debugging issues and solving clients' problems.
                </li>
                <li>
                  Designing frontend within object-oriented Javascript frameworks like Angular.
                </li>
                <li>
                  Worked with design, product and back-end teams to create web products.
                </li>
                <li>
                  Developed standard and ad hoc reports in graph format as required.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="p-b-15">
          <div class="body-l header">Education</div>
          <div>
            <div class="body-m">
              Bachelor of Computer Science(B.C.Sc)
            </div>
            <div>
              University of Computer Studies, Yangon(UCSY)(2011-2015)
            </div>
          </div>
        </div>
        <div class="p-b-15">
          <div class="body-l header">
            Certificates
          </div>
          <div>
            <div class="body-m">
              Professional Certificate in Web Technologies Course
            </div>
            <div>
              India-Myanmar Centre for Enhancement of IT Skills (IMCEITS) (November 2016 – January 2017)
            </div>
          </div>
        </div>
        <!-- <div class="p-b-15">
          <div class="body-l header">
            Expected salary
          </div>
          <ul>
            <li>
              Between 1,500,000.00 kyats and 2,000,000.00 kyats
            </li>
            <li>
              Negotiable based on the company's compensation package
            </li>
          </ul>
        </div> -->
      </div>
      <div class="column-right bg-s10">
        <div class="p-b-15">
          <div class="body-l header">
            Personal Info
          </div>
          <div class="personal-info">
            <div>
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <div>April 8,1995</div>
          </div>
          <div class="personal-info">
            <div>
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div>htetshweyilin.hsyl@gmail.com</div>
          </div>
          <div class="personal-info">
            <div>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div>Yangon, Myanmar</div>
          </div>
          <!-- <div class="personal-info">
            <div>
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <div>+959420057072</div>
          </div> -->
          <div class="personal-info">
            <div>
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </div>
            <div>
              <a href="https://www.linkedin.com/in/htet-shwe-yi-lin-228715189/" target="_blank">linkedin.com/in/htet-shwe-yi-lin</a>
            </div>
          </div>
          <!-- <div class="personal-info">
            <div>
              <i class="fa fa-github" aria-hidden="true"></i>
            </div>
            <div>
              <a href="https://github.com/HtetShweYiLin" target="_blank">github.com/HtetShweYiLin</a>
            </div>
          </div> -->
        </div>
        <div class="p-b-15">
          <div class="body-l header">
            Skills
          </div>
          <div class="skills-wrapper">
            <div>
              HTML
            </div>
            <div>
              CSS
            </div>
            <div>
              Javascript
            </div>
            <div>
              jQuery
            </div>
            <div>
              Angular
            </div>
            <div>
              Typescript
            </div>
            <div>
              Angular 2+
            </div>
            <div>
              React
            </div>
            <div>
              GIT
            </div>
          </div>
        </div>
        <div class="p-b-15">
          <div class="body-l header">
            Project Management
          </div>
          <div class="skills-wrapper">
            <div>
              Jira
            </div>
            <div>
              Slack
            </div>
          </div>
        </div>
        <div>
          <div class="body-l header">
            Languages
          </div>
          <div>
              <div class="header">
                <div class="body-m">
                  Myanmar
                </div>
                <div>
                  Native
                </div>
              </div>
              <div class="header">
                <div class="body-m">
                  English
                </div>
                <div>
                  Fair
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
